@import url('https://fonts.googleapis.com/css?family=Bebas+Neue|Fredoka+One&display=swap');
@import url('https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css');
.farmNav a {
  color: #000000 !important;
  font-weight: bolder;
}
.farmNav a:hover {
  color: #3ba068 !important;
  font-weight: bolder;
  background: rgb(255, 255, 255) !important;
}

.smart {
  font-family: 'Bebas Neue', cursive;
  color: rgb(14, 172, 14);
  font-size: 25px;
}

.farmer {
  color: #000000;
  font-family: 'Bebas Neue', cursive;
  font-size: 25px;
}

.jumbo h3 {
  color: #ffff;
  font-family: 'Bebas Neue', cursive;
  font-size: 55px;
}
